
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
#logo
{
    height: 125px;
    width: auto;
    margin-right: 20px; 
    text-align: center;
    
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

body {
    background: linear-gradient(to right, #a1daf8 0%, #009fe3 25%, #0075bf 50%, #163384 100%);
    margin: 0;
    padding: 0;
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #1f48b6;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


