@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

body {
    background: linear-gradient(to right, #a1daf8 0%, #009fe3 25%, #0075bf 50%, #163384 100%);
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    margin-left: 20px; 
    margin-right: 20px;
}

.main-content {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    margin-left: 20px; 
}

.opdrachten {
    width: 20%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.logo_img {
    margin-right: 10px; 
}

.link a {
    color: rgba(52,166,233,255);
    text-decoration: none;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.link a:hover {
    text-decoration: underline;
}

.opdrachten li {
    transform: scale(1);
    transition: all ease-in-out 0.2s;
}

.opdrachten li:hover {
    transform: scale(1.04);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.main-content {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
}

.explanation {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}


textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    resize: none;
    overflow: hidden; 
}

.Margin {
    margin-bottom: 15px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #1f48b6;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #009fe3;
    transform: scale(1.04);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.inlog-button-container {
    display: flex;
    gap: 10px;
}

.logo-img {
    mix-blend-mode: multiply;
    width: 70%;
}

.inlog-container {
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #1f48b6;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #009fe3;
    transform: scale(1.04);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.textarea {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    resize: none;
    overflow: hidden; 
}